##################################
# Infrastructure Setting
##################################

SESSION_DRIVER=file/memory/redis/mongo

## Local memory
LOCAL_MEMORY=

## Local file
LOCAL_FILE_NAME=

## Redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB=

## Mongo
MONGO_URL=
MONGO_COLLECTIONNAME=

##################################
# Bot Setting
##################################

## Messenger
MESSENGER_PAGE_ID=
MESSENGER_ACCESS_TOKEN=
MESSENGER_APP_ID=
MESSENGER_APP_SECRET=
MESSENGER_VERIFY_TOKEN=

## Line
LINE_ACCESS_TOKEN=
LINE_CHANNEL_SECRET=

## Telegram
TELEGRAM_ACCESS_TOKEN=

## Slack
SLACK_ACCESS_TOKEN=
SLACK_VERIFICATION_TOKEN=

## Viber
VIBER_ACCESS_TOKEN=
