<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Ruiguang Island 瑞光島">
    <title><%= title %></title>
    <% for(cssUri of cssList) { %>
        <link rel='stylesheet' href='<%= cssUri %>' />
    <% } %>
</head>