@font-face {
    font-family: NotoSansTC-Regular;
    src: url(/fonts/NotoSansTC-Regular.otf) format("opentype");
}

body {
    background-image: url('/images/welcomeParty/qrcode_bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1, div, p, span, #closeBtn {
    font-family: NotoSansTC-Regular;
}

#closeBtn {
    color: #FFFFFF;
    background: #5594A7;
}